@font-face {
    font-family: "Museo";
    src: url("/fonts/Museo-Sans-Cyr/MuseoSansCyrl.otf");
    /*src: url("./fonts/Museo-Sans-Cyr/MuseoSansCyrl_0.otf");
    src: url("./fonts/Museo-Sans-Cyr/MuseoSansCyrl_1.otf");
    src: url("./fonts/Museo-Sans-Cyr/MuseoSansCyrl_2.otf");*/
   }