@font-face {
    font-family: "Museo";
    src: url("./fonts/Museo-Sans-Cyr/MuseoSansCyrl.otf");
}

$font: 'Museo',
sans-serif;
$back: #f5f6fa;
$back1: #ffffff;
$color1: #c9d0d3;
$color2: #9da9af;
$color3: #5c707a;
$colorH: #173342;
$btn_color: #56ccf2;
$btn_color1: #39add2;
$li_color: #b1d559;
$fontSize: 40px;
$fontSizeStep: 8px;
$fz18: 18px;
@mixin box-shadow($b_shadow_back) {
    -moz-box-shadow: $b_shadow_back;
    -webkit-box-shadow: $b_shadow_back;
    box-shadow: $b_shadow_back;
}

@mixin align-items($align-items) {
    -webkit-box-align: $align-items;
    -ms-flex-align: $align-items;
    align-items: $align-items;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font: {
        family: $font;
        size: 14px;
    }
    background: $back;
    .main-wrapper {
        max-width: 1170px;
        margin: 0 auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $colorH;
    }
    h1,
    h2 {
        font: {
            size: $fontSize;
            weight: 100;
        }
        line-height: (46px/40px);
    }
    h3,
    h4 {
        font: {
            size: $fontSize - ($fontSizeStep * 2 + $fontSizeStep - 2);
            weight: bold;
        }
        line-height: (22px/18px);
    }
    h5 {
        font: {
            size: $fontSize - $fontSizeStep;
            weight: 300;
        }
        line-height: (38px/32px);
    }
    h2 {
        margin: 6% 0 3%;
        letter-spacing: 1px;
    }
    h2,
    h3 {
        text-align: center;
    }
    p {
        color: $color3;
        font-size: $fz18;
    }
    a {
        text-decoration: none;
        color: $color3;
        display: inline-block;
    }
    input[type=checkbox] {
        visibility: hidden;
        opacity: 0;
        display: none;
        &:checked+.check-input::after {
            background: $btn_color;
            content: "✓";
            width: 20px;
            height: 20px;
            position: absolute;
            border-radius: 10%;
            color: $back1;
            left: 0;
            text-align: center;
            padding-top: 2px;
        }
    }
    .check-input {
        position: relative;
        padding: 0 4%;
        cursor: pointer;
        letter-spacing: 0.25px;
        font-size: $fz18 - 4px;
        &::before {
            content: "";
            width: 20px;
            height: 20px;
            border: 1px solid $color2;
            border-radius: 10%;
            position: absolute;
            left: 0;
        }
        &:hover::before,
        &:focus::before {
            border-color: $btn_color;
        }
        @media screen and (max-width: 600px) {
            padding: 0 0 0 8%;
        }
    }
    .flex {
        display: flex;
    }
    .none {
        display: none;
    }
    header .main-wrapper,
    .footer {
        @extend .flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        @include align-items(center);
        min-height: 77px;
    }
}

header {
    background: $back1;
    border-bottom: 1px solid $color1;
    .left-menu {
        @extend .flex;
        @include align-items(center);
        .logo {
            margin-bottom: 2%;
            @media screen and (max-width: 600px) {
                zoom: 0.5;
            }
        }
        .burger-menu {
            position: relative;
            width: 80px;
            height: 77px;
            margin: 0 11.1% 0 0;
        }
        .menu-btn {
            display: block;
            width: 80px;
            height: 77px;
            background-color: #fff;
            position: relative;
            border-left: 1px solid $color1;
            border-right: 1px solid $color1;
        }
        .menu-btn span,
        .menu-btn span::before,
        .menu-btn span::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 2px;
            background-color: #b9c1c6;
        }
        .menu-btn span::before,
        .menu-btn span::after {
            content: '';
            display: block;
            transition: 0.2s;
        }
        .menu-btn span::before {
            margin: 40% 0 0;
        }
        .menu-btn span::after {
            margin: -40% 0 0;
        }
        .menu-btn_active span {
            height: 0;
        }
        .menu-btn_active span:before,
        .menu-btn_active span:after {
            transform: rotate(-45deg);
            margin: 0;
            top: 0;
            left: 0;
        }
        .menu-btn_active span:after {
            transform: rotate(45deg);
        }
        .nav {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background: #fff;
            margin: 2% 0;
            min-width: 300px;
            @include box-shadow(0px 4px 12px 0px rgba(92, 112, 122, 0.3));
            position: absolute;
            z-index: 1;
            .nav-item {
                width: 100%;
                padding: 5%;
                &:hover {
                    background: $btn_color;
                    color: $back1;
                }
            }
        }
    }
    .center-menu {
        flex-grow: 0.5;
        @media screen and (max-width: 600px) {
            display: none;
        }
        a {
            font: {
                size: $fontSizeStep * 2;
                weight: bold;
            }
            color: $color3;
            text-transform: uppercase;
            display: inline-block;
            padding: 15px 9px;
            margin: 2px 0 0 10px;
            letter-spacing: 0.25px;
        }
    }
    .right-menu {
        position: relative;
        a {
            color: $color3;
            display: inline-block;
        }
        .lk-link {
            padding: 15% 0;
            @media screen and (max-width: 600px) {
                font-size: smaller;
                transform: translate(-20%, 0);
            }
            &::after {
                content: "›";
                color: inherit;
                transform: rotate(90deg);
                position: absolute;
                width: 12px;
                height: 7px;
                top: 50%;
                margin: 0 5%;
            }
        }
        .submenu {
            list-style: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;
            background: #fff;
            z-index: 1;
            position: absolute;
            right: 0;
            margin: 10% 0;
            min-width: 310px;
            min-height: 192px;
            @include box-shadow(0px 4px 12px 0px rgba(92, 112, 122, 0.3));
            li a {
                padding: 17px 30px;
                width: 100%;
                &:hover {
                    background: $btn_color;
                    color: $back1;
                }
            }
        }
    }
}

main {
    .breadcrumbs {
        margin: 1% 0;
        a {
            margin-right: 3%;
            position: relative;
            color: $colorH;
            font-size: $fz18 - 6px;
            &::after {
                content: "›";
                position: absolute;
                margin: 0 43%;
            }
            &:last-child::after {
                content: "";
            }
        }
    }
    h1 {
        margin-top: 14%;
        letter-spacing: 0.75px;
        @media screen and (max-width: 600px) {
            margin-top: 1%;
            font-size: x-large;
        }
    }
    .btn {
        display: inline-block;
        background: #56ccf2;
        color: #ffffff;
        border: 0;
        width: 200px;
        height: 56px;
        text-transform: uppercase;
        border-radius: 4%;
        @include box-shadow(0px 8px 24px 0px rgba(86, 204, 242, 0.25));
        cursor: pointer;
        font: {
            size: $fz18;
        }
    }
    .field-wrap {
        width: 47%;
        display: inline-block;
        margin: 0 15px 40px 0;
        &:last-child {
            margin-right: 0;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        label {
            position: absolute;
            font: {
                size: $fz18;
                weight: 500;
            }
            line-height: (24px/18px);
            letter-spacing: 0.25px;
        }
        input {
            position: relative;
            background: transparent;
            border: 0;
            width: 100%;
            min-height: 35px;
            font-size: $fz18;
            color: $color1;
            border-bottom: 1px solid $color1;
            &:focus {
                //outline: none;
            }
        }
    }
    .mob-visible {
        display: none;
        img {
            width: 100%;
        }
        @media screen and (max-width: 600px) {
            display: block;
        }
    }
    .main-banner {
        background: url("../img/main.jpg") left no-repeat;
        min-height: 570px;
        @extend .flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        @media screen and (max-width: 600px) {
            background: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        p {
            margin-bottom: 6%;
        }
        .info-block {
            position: relative;
            min-height: 375px;
            width: 57%;
            @media screen and (max-width: 600px) {
                width: 100%;
                padding: 0 2%;
            }
            form {
                position: relative;
                .btn {
                    position: absolute;
                    left: 0;
                    transform: translate(-2%, 100%);
                    @media screen and (max-width: 600px) {
                        transform: translate(40%, 50%);
                    }
                }
                @media screen and (max-width: 600px) {
                    min-height: 260px;
                }
            }
            .triggers {
                @extend .flex;
                list-style: none;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                @include align-items(flex-start);
                padding: 0;
                position: absolute;
                width: 55%;
                margin-top: 6%;
                right: 0;
                @media screen and (max-width: 600px) {
                    width: 100%;
                    position: unset;
                }
                li {
                    max-width: 166px;
                    position: relative;
                    .heading-list {
                        color: $colorH;
                        letter-spacing: 0.25px;
                        position: relative;
                        font: {
                            weight: bold;
                            size: $fz18;
                        }
                    }
                    p {
                        font-size: 14px;
                        letter-spacing: 0.25px;
                        margin-top: 3%;
                    }
                    &:first-child::before {
                        content: "";
                        top: 0;
                        left: -20%;
                        position: absolute;
                        background: url("../img/sprites.png") -53px 0 no-repeat;
                        width: 23px;
                        height: 18px;
                    }
                    &:last-child::before {
                        content: "";
                        top: 0;
                        left: -20%;
                        position: absolute;
                        background: url("../img/sprites.png") 0 0 no-repeat;
                        width: 25px;
                        height: 18px;
                    }
                }
            }
        }
    }
    .opportunity-block {
        padding: 0 20px;
        .opportunity-item {
            max-width: 330px;
            min-height: 590px;
            padding: 20px;
            &:hover {
                background-color: $back1;
                @include box-shadow(0px 4px 12px 0px rgba(92,
                112,
                122,
                0.3));
                border-radius: 6px;
                cursor: pointer;
                .btn-link {
                    background: #56ccf2;
                    color: #ffffff;
                    border: 0;
                    @include box-shadow(0px 8px 24px 0px rgba(86,
                    204,
                    242,
                    0.25));
                }
            }
            .opportunity-image {
                position: relative;
                h3 {
                    position: absolute;
                    margin: 0;
                    line-height: (22px/18px);
                    letter-spacing: 0.80px;
                    bottom: 0;
                    transform: translate(0, 30%);
                    z-index: 3;
                }
                &::after {
                    content: "";
                    background-image: -moz-linear-gradient( -90deg, rgba(245, 246, 250, 0) 0%, rgb(245, 246, 250) 100%);
                    background-image: -webkit-linear-gradient( -90deg, rgba(245, 246, 250, 0) 0%, rgb(245, 246, 250) 100%);
                    background-image: -ms-linear-gradient( -90deg, rgba(245, 246, 250, 0) 0%, rgb(245, 246, 250) 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                }
            }
            .btn-link {
                text: {
                    align: center;
                    transform: uppercase;
                }
                font: {
                    size: $fz18 - 2px;
                    weight: 800;
                }
                line-height: (26px/16px);
                letter-spacing: 0.85px;
                width: 100%;
                border: 1px solid $color3;
                border-radius: 6px;
                max-height: 54px;
                padding: 5% 0;
            }
        }
    }
    .opportunity-list {
        list-style: none;
        padding: 0;
        margin: 10% 0 6%;
        li {
            line-height: (22px/14px);
            position: relative;
            padding: 0 0 8px 33px;
            letter-spacing: 0.20px;
            &::before {
                content: ("✓");
                color: $li_color;
                position: absolute;
                left: 2%;
                transform: rotate(20deg);
            }
        }
    }
    .advantages-wrapper h2 {
        margin: 6.5% 0 4.5%;
    }
    .advantages-row,
    .opportunity-block {
        @extend .flex;
        @include align-items(flex-start);
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 0 2%;
        }
        .advantages-item {
            padding-left: 69px;
            position: relative;
            width: 32%;
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            h4 {
                margin: 0;
            }
            p {
                font-size: $fz18 - 3px;
                line-height: (22px/15px);
            }
            &:first-child {
                background: url("../img/why1.png") 0 2% no-repeat;
            }
            &:nth-child(2n) {
                background: url("../img/why2.png") 1% 0 no-repeat;
            }
            &:nth-child(3n) {
                background: url("../img/why3.png") 1% 1% no-repeat;
            }
        }
    }
    .advantages-row:last-child {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 3%;
        .advantages-item {
            width: 32.5%;
            &:first-child {
                background: url("../img/why4.png") 0 5% no-repeat;
            }
            &:last-child {
                background: url("../img/why5.png") 4% 4% no-repeat;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }
    .calc-wrapper {
        background: url("../img/backf.jpg") no-repeat;
        max-width: 970px;
        min-height: 510px;
        margin: 8.8% auto 8%;
        @extend .flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        @include box-shadow(6px 2px 20px 20px rgba(225,
        231,
        244,
        0.25));
        border-radius: 6px;
        @media screen and (max-width: 600px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background: none;
            margin: 0 2%;
            @include box-shadow(none);
        }
        .calc-block {
            max-height: 386px;
            width: 59%;
            @media screen and (max-width: 600px) {
                width: 100%;
                min-height: inherit;
            }
            h5 {
                margin: 13% 15% 7%;
                margin-left: 0;
                letter-spacing: 1px;
                @media screen and (max-width: 600px) {
                    margin: 2% 0;
                    font-size: x-large;
                }
            }
        }
        .calc {
            @extend .flex;
            @media screen and (max-width: 600px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }
            .col-wrap {
                @extend .flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                width: 42%;
                margin-right: 6%;
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
                .field-wrap {
                    width: 100%;
                    position: relative;
                    label {
                        font-size: $fz18 - 2px;
                        line-height: (24px/16px);
                        letter-spacing: 0.25px;
                        &::after {
                            padding: 0;
                            top: 0;
                        }
                        &.check-input {
                            font-size: $fz18 - 4px;
                            padding: 0 0 0 10%;
                        }
                    }
                }
            }
            .row-wrap {
                @extend .flex;
            }
        }
    }
    .privilege-wrapper {
        .privilege-list {
            @extend .opportunity-list;
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            h6 {
                font: {
                    size: $fz18 + 2px;
                    weight: bold;
                }
                line-height: (22px/20px);
                letter-spacing: 0.25px;
                margin: 0;
            }
            p {
                font: {
                    size: $fz18 - 2px;
                    weight: 300;
                }
                line-height: (22px/16px);
                letter-spacing: 0.25px;
            }
            li {
                padding: 0 0 4% 9%;
                &::before {
                    zoom: 2;
                    left: -2%;
                    top: 0;
                    line-height: 1;
                }
            }
        }
    }
}

footer {
    background: url("../img/backfooter.jpg") center no-repeat;
    background-size: cover;
    min-height: 213px;
    height: 100%;
    border-top: 1px solid $color1;
    p {
        text-align: center;
        font-size: $fz18 - 6px;
    }
    .footer {
        min-height: inherit;
        @media screen and (max-width: 600px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .social-media a {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            &:first-child {
                background: #4d76a1 url("../img/sprites.png") -91px -38px no-repeat;
            }
            &:nth-child(2n) {
                background: #c33b22 url("../img/sprites.png") -42px -38px no-repeat;
            }
            &:last-child {
                background: #4267b2 url("../img/sprites.png") 13px -39px no-repeat;
            }
        }
        .contact-block {
            a {
                display: block;
                letter-spacing: 0.15px;
                &:first-child {
                    font: {
                        size: 22px;
                        weight: 300;
                    }
                    line-height: (20px/22px);
                }
                &:last-child {
                    font: {
                        size: 14px;
                        weight: 500;
                    }
                    line-height: (20px/14px);
                    color: #39add2;
                    position: relative;
                    padding-left: 12%;
                }
                &:last-child::before {
                    content: "";
                    background: url("../img/sprites.png") -100px 0 no-repeat;
                    width: 17px;
                    height: 11px;
                    position: absolute;
                    top: 21%;
                    left: 0;
                }
            }
        }
    }
}